
.input {
  margin: 30px;
  border: 2px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  height: 32px;

  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
}

.label {
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 700;
  text-transform: capitalize;
}
